<header>
    <div class="div-wallpaper" [style.background-image]="'url(data:image/png;base64,' + produto?.foto + ')'">
    </div>
    <div class="div-dados-empresa">
        <img alt="logo" src="data:image/png;base64,{{produto?.foto}}"/>
        <div>
            <h1>Minha empresa</h1>
            <p>Rua da minha empresa, N 00, bairro da minha empresa</p>
        </div>
    </div>
    <div class="div-dados-funcionamento">
        <p><img alt="estabelecimento" src="/assets/icon/endereco.png"/>Aberto</p>
        <p>Horário: 08:00 ás 18:00</p>
    </div>
</header>
